@font-face {
    font-family: 'iconfont';  /* project id 607223 */
    src: url('//at.alicdn.com/t/font_607223_m65ivlietza4te29.eot');
    src: url('//at.alicdn.com/t/font_607223_m65ivlietza4te29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_607223_m65ivlietza4te29.woff') format('woff'),
    url('//at.alicdn.com/t/font_607223_m65ivlietza4te29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_607223_m65ivlietza4te29.svg#iconfont') format('svg');
}

.iconfont
    font-family: "iconfont" !important
    font-size: 16px;font-style:normal
    -webkit-font-smoothing: antialiased
    -webkit-text-stroke-width: 0.2px
    -moz-osx-font-smoothing: grayscale
